@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');



:root {
  font-family: 'Montserrat', sans-serif;
  /* line-height: 1.5; */

  --main-bg-color: #EEEEEE;
  --main-text-color: #444444;
  --main-color: #00A03D;
  --secondary-color: #009160;
  --card-bg-color: #FFFFFF;
  --card-title-color: #000000;
  --card-description-color: #777777;
  --card-link-hover-color: #00A03D;
  --button-bg-color: #00A03D;
  --button-text-color: #FFFFFF;
  --button-hover-color: #009160;
  --footer-bg-color: #ffffff;
  --bg-green-opacity: #93ffa156;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  font-family: 'Montserrat', sans-serif;
}
