.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .inputContent {
      width: 100%;
      display: flex;
      
      .leftForm {
        width: 50%;

        .input {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }

      .rightForm {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    }



  }

}

